<head>

    <title>Spaceblog</title>

</head>

<template name="Layout">

    <div class="main-container">

        <div class="ui fixed menu">
            <div class="menu-container">
                <div class="header item">SpaceBlog</div>
                <a href="{{ pathFor 'Home' }}" class="item"><i class="home icon"></i> Home</a>
            </div>
        </div>

        {{ > yield }}

        <div class="ui hidden divider"></div>
        <p class="footer-text"><i>Footer. Created with love, by me.</i></p>
        
    </div>

</template>