<head>

    <title>Spaceblog</title>

</head>

<template name="Layout">

    <div class="main-container">

        <div class="ui fixed menu">
            <div class="menu-container">
                <div class="header item">SpaceBlog</div>
                <a href="{{ pathFor 'Home' }}" class="item"><i class="home icon"></i> Home</a>
                <div class="right menu">
                    {{ #if currentUser }}
                    <a class="item"><i class="pencil icon"></i> Create Post</a>
                    {{ else }}
                    <a id="openLoginModal" class="item"><i class="user icon"></i> Login</a>
                    {{ /if }}
                </div>
            </div>
        </div>

        {{ > yield }}

        <div class="ui hidden divider"></div>
        <p class="footer-text"><i>Footer. Created with love, by me.</i></p>
        
    </div>

    <div class="ui small login modal">
        <i class="close icon"></i>
        <div class="header">Login</div>
        <div class="content">
            <div class="ui form">
                <div class="two fields">
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="Enter your email ..." type="text" name="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input placeholder="Your secret password ..." type="password" name="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive button">Enter</div>
        </div>
    </div>

</template>
