<template name="Post">

    <div class="ui stackable centered grid">
        <div class="eleven wide column">
            <div class="ui segment">
                <div class="ui vertical segment">
                    <h1 class="post-title">{{ title }}</h1>
                    <h4 class="post-date">Posted on {{ dateFormat createdAt 'MMM Do YYYY, h:mm a' }}</h4>
                </div>
                <div class="ui vertical segment">
                    <p class="post-content">{{ content }}</p>
                </div>
                <div class="ui vertical segment">
                    <a class="ui huge tag label">{{ showCategoryName category }}</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui hidden divider"></div>

    <a href="{{ pathFor 'Home' }}" class="ui left labeled icon button">
        <i class="left arrow icon"></i>
        Go Back Home
    </a>

</template>

<template name="AdminCreatePost">

    <div class="ui stackable centered grid">
        <div class="eleven wide column">
            <div class="ui segment">
                <div class="ui form">
                    <div class="field">
                        <label>Title</label>
                        <input name="title" type="text">
                    </div>
                    <div class="field">
                        <label>Content</label>
                        <textarea name="content"></textarea>
                    </div>
                    <div class="field">
                        <label>Category</label>
                        <select name="category" class="ui search dropdown">
                            {{ #each categories }}
                            <option value="{{ _id }}">{{ name }}</option>
                            {{ /each }}
                        </select>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div id="createPost" class="ui right floated positive huge labeled icon button">
                    <i class="checkmark icon"></i> Post It!
                </div>
            </div>
        </div>
    </div>

</template>